.collapse {
    margin-top: 30px;
    width: 100% !important;
    font-family: 'Montserrat', serif;
    color: #FFFFFF;
}

.collapse-head {
    background-color: #FF6060;
    padding: 0 20px;
    border-radius: 5px;
    width: auto;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}

.collapse-content {
    background-color: #F7F7F7;
    color: #FF6060;
    padding: 20px;
    font-size: 24px;
    font-weight: 300;
    text-align: justify;
    line-height: 35px;
}

.collapse-title {
    font-weight: 500;
    font-size: 24px;
}

@media only screen and (max-width: 600px) {

    .collapse-content {
        font-size: 12px;
        font-weight: 400;
        line-height: 17px;
    }
}