.banner {
    width: 100%;
    height: 250px;
    background-size: cover;
    background-position: center;
    border-radius: 25px;
}

.banner > div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    background-color: black;
    mix-blend-mode: luminosity;
    opacity: 0.3;
    border-radius: 25px;
}

.banner > div > span {
    font-family: 'Montserrat', serif;
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    opacity: 1;
    color: #FFFFFF;
}

.cards {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: #F7F7F7;
    padding: 60px 80px;
    border-radius: 25px;
    margin-top: 50px;
}

.card {
    border-radius: 10px;
    height: 380px;
    width: 30%;
    margin: 20px 0;
    background-color: #FF6060;
    display: flex;
    align-items: flex-end;
    padding: 10px;
    background-size: cover;
    background-position: left;
    mix-blend-mode: multiply;
    text-decoration: none !important;
}

.card > span {
    width: 60%;
    font-family: 'Montserrat', serif;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    color: #FFFFFF;
    text-shadow: 2px 1px black;
}


@media only screen and (max-width: 600px) {
    .cards {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        background-color: transparent;
        border-radius: 25px;
        margin-top: 20px;
        padding: 0;
    }

    .card {
        border-radius: 10px;
        height: 250px;
        width: 100%;
        margin: 10px 0;
    }

    .banner {
        height: 125px;
        border-radius: 10px;
    }

    .banner > div > span {
        font-weight: 500;
        font-size: 24px;
        padding: 0 20px;
    }

    .banner > div {
        border-radius: 10px;
    }
}