:root {
    --primary: #FF6060;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;900&display=swap');

.container {
    margin: 0 80px;
    font-family: 'Montserrat', serif;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 0;
}

nav ul li {
    display: inline-block;
    list-style: none;
    margin-left: 80px;
}

.navlink {
    text-decoration: none;
    color: var(--primary);
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 142.6%;
}

footer {
    height: 200px;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
    margin-top: 30px;
}

.copyright {
    margin-top: 20px;
}


.flex-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.list-none {
    list-style: none;
}

@media only screen and (max-width: 600px) {
    header {
        padding: 10px 0;
    }

    .container {
        margin: 0 10px;
    }

    nav ul li {
        margin-left: 20px;
    }


    .navlink {
        font-size: 16px;
        text-transform: uppercase;
    }

    .logo {
        width: 100px;
    }
}

